.header {
    background-image: url(../img/mau-banner-dich-vu-dien-hoa-dep-mat-thu-hut-1.jpg);
    background-repeat: none;
    background-size: cover;
    height: 500px;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
}

.left {
    float: left;
    background-image: url(../img/hinh2.webp);
    background-repeat: none;
    background-size: cover;
    height: 350px;
}